
HTML body{
    margin:0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    display: block;
    background-color: #d8cfc7;
   }
   
 .hide{
   display: none;
 }

 .inicio{
   background-color: #352727;
   height: 125px;
   width: 100%;
   margin: 0%;
 }
 @media screen and (width < 900px) {
   .center-body{
      width: 70%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
   }
 }
 @media screen and (width < 400px) {
   .center-body{
      width: 100%;
      height: 100%;

   }
 }
 #centralizar-coluna{
   justify-content: center;
   display: inline-block;
   margin: 15px;
   width: 50%;
   height: 100%;
 }
 #centralizar-corpo{
   width: 90%;
   height: auto;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
 }
 #centralizador-container{
   width: 55%;
   margin-left: auto;
   margin-right: auto;
 }
 @media screen and (width < 400px){
   #centralizador-container{
      width: 75%;
      align-items: center;
   }   
 }

 .nav-button{
   border: 0;
   border-radius: 4px;
   padding: 8px;
   background-color: black;
   color: white;
 }
 .overlay .closebtn{
   position: relative;
   right: 0%;
   font-size: 40px;
   text-decoration: none;
   color: gray;
}
 
 .overlay{
   background-color: #352727;
   position: sticky;
   top: 0;
   z-index: 9;
   width: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
 }

 .overlay-content a{
   float: left;
   color: white;
   padding: 15px 15px;
   text-decoration: none;
   
 } 

 .overlay-content a:hover{
   background-color: #d8cfc7a8;
   color:#2b1109;
 }
 .hR{
   background-color: #6da276;
   color: #6da276;
   height: 5px;
 }
 @media screen and (width > 1000px) {
   .hR{display: none;}
 }
 
 .overlay-content img{
   max-width: 50px;
   position: relative;
   right: 0;
 }

 div#corpo{
    height: 100%;
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 0px;
 }
 #itens{
   width: 100%;
   height: auto;
   padding-top: 20px;
 }

 .sobre{
    margin-top: 5px;
    padding: 10px;
    width: 95%;
 }

 img#instagram{
    display: inline-block;
    max-width: 35px;
    position: relative;
    margin-left: 5px;
 }

 img#whatsapp{
    display: inline-block;
    max-width: 35px;
    position: relative;
    margin-right: 5px;
 }

 #rodape{
    background-color: #6da276;
    width: 100%;
    height: 170px;
    display: inline-block;
    margin-top: 0px;
    justify-content: center;
 }
 #centralizador-cacauzinha{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
 }

 #cacauzinha{
  padding-left: 20px;
  padding-top: 10px;
  font-size: 28px;
 }
 #cacauzinha1{
  text-align: center;
  font-size: 28px;
 }
 #imagens{
    max-width: 250px;
    border-radius: 20px;
 }
 
 @media screen and (width < 600px) and (width > 400px) {
   #imagens{
      max-width: 150px;
      border-radius: 20px;
   }   
 }
 @media screen and (width < 400px) {
 #imagens{
   max-width: 100px;
   border-radius: 10px;
 }     
 }
 @media screen and (width < 900px) and (width > 400px) {
   .center-imagem{
      width: 250px;
      height: 250px;
      margin-left: auto;
      margin-right: auto;
   }   
 }
 

 .bebidas{
    overflow: hidden;
    margin: auto;
    width: 95%;
 }

 .formatacao{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
 }

 .texto{
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 10px;
 }
 /*--------------------------------------------------*/
 @media screen and (width < 900px) and (width > 500px) {
   .texto{
      width: 100%;
      height: auto;
   }
 }

 .title{
    text-align: center;
 }

 @media screen and (width > 900px) {
   #conhecamelhor{
      width: 240px;
      height: 240px;
      margin-left: 10px;
      margin-right: 10px;
      position: absolute;
      border-radius: 20px;
   }
}
 @media screen and (width < 900px) and (width > 500px) {
   #conhecamelhor{
      width: 250px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
   }   
 }
 @media screen and (width < 500px) {
   #conhecamelhor{
      width: 250px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
   }
 }

 #felizhoje{
    justify-items: center;
    width: 100%;
    height: 170px;
    background-image: url("imagens/bg_footer-desk.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
 }
 .felizhoje{
   width: 25%;
   margin-left: auto;
   margin-right: auto;
   
 }

 .coluna{
    position: relative;
    width: 50%;
    text-align: center;
    color: #e5dfd4;
 }
 .coluna a{
   color: #e5dfd4;
 }

 #centcoluna{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
 }
 @media screen and (width > 900px){
   #centcoluna{
      width: 40%;
   }
 }
 #forma{
    display: inline-block;
    justify-content: center;
 }
 h4#valor{
    text-align: center;
    margin: 0%;
 }
 .titulo{
    text-align: center;
    margin: 20px;
 }
 .endereco{
    text-decoration: none;
    color: black;
 }
 .endereco:hover{
    margin-top: 15px;
    padding: 3px;
    background-color: rgba(169, 169, 169, 0.432);
    color: black;
    border-radius: 2px;
 }
 #close-overlay{
   width: 0%;
   background-color: white;
 }
 #logocacau{
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1%;
 }
 /*Posicionamento de itens MENU*/
 @media screen and (width < 500px){
   .overlay{
      display: grid;
   }
   #menu{
      width: 100%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
   }
   #logocacau{
      max-width: 250px;
      margin-top: auto;
      margin-bottom: auto;
      padding-top: 5%;
   }
   .localizaLogoCacau{
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      margin-bottom: 30px;
   }
   
 }
 @media screen and (width < 1000px) and (width > 50px){
   .overlay{
      display: grid;
   }
   #menu{
      width: 100%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
   }
   .localizaLogoCacau{
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
   }
   #mobileNav{
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
   }
 }
 .whatsapp{
   text-decoration: none;
   color: black;
 }
 #logoCacau{
   max-width: 250px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 20%;
 }
 @media screen and (width > 1000px){
   #logoCacau{
      display: none;
   }
 }
 .homepage{
   text-align: center;
 }
 h1{
   margin-left: auto;
   margin-right: auto;
   margin-bottom: auto;
   margin-top: auto;
   color: white;
   z-index: 9;
 }
 h2{
   padding-top: 20px;
   border-radius: 10px;
 }
 li{
   padding: 0%;
 }

 @media screen and (max-width: 1000px){
    html body{
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        display: block;
    }
    
    .inicio{
      width: 100%;
      margin-bottom: 0%;
      margin-top: 0%;
      font-size: normal 15px;
    }
   .title-h1{
      width: 100%;
      text-align: center;
      position:absolute;
      font-size: normal 15px;
   }
   .homepage{
      position: sticky;
      top: 0;
      width: 100%;
      height: 50px;
      background-color: #352727;
      display: flex;
      z-index: 9;
   }
   .homepage h2{
      margin: 0;
      width: 100%;
      height: 100%; 
      text-align:center;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
   }

   .nav-button{
      position: sticky;
      top: 0;
      border: 0;
      border-radius: 4px;
      padding: 8px;
      background-color: #352727;
      color: #6da276;
      cursor: pointer;
      z-index: 9;
   }
   .overlay{
      position: fixed;
      width: 0%;
      height: 100%;
      background-color: #352727;
      z-index: 9;
      overflow-x: hidden;
      transition: all 0.5s;
         
   }
   .overlay-content{
      position: relative;
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
   }
   .overlay-content a{
      display: block;
      padding: 15px 15px;
      text-decoration: none;
      color: white;
      font-size: 25px;
      transition: 0.3s;
   }
   #menu{
      width: 80%;
   }
   .overlay-content a:hover{
      width: 100%;
      background-color: white;
      color:#352727;

   }
   .overlay .closebtn{
      position: absolute;
      top: 25px;
      right: 45px;
      font-size: 50px;
      text-decoration: none;
      color: white;
   }
   .overlay .closebtn:hover{
      color: white;
   }
   
    #formatacao{
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      width: 80%;
      height: 50%;
      border: 3px solid green;
      
    }
    #cabecalhoh1{
      position: absolute;
      top: 55%;
      left: 50%;
      margin: -70px 0 0 -170px;
      color: black;
    }
    
    .formatacao{
        width: 80%;
        padding: 0%;
    }
    #imagens {
        max-width: 250px;
        padding: 0%;
    }
    .texto{
        height: 150px;
        margin-bottom: 20px;
    }
   }
    @media screen and (width < 1000px) and (width > 400px){
      .texto{
         margin-left: auto;
         margin-right: auto;
      }      
    }
    div#corpo{
        width: 90%;
    }
    .felizhoje{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      background-position: bottom 0;
    }
    .centralizar-feliz-hoje{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
    }

    #imgfeliz-hoje{
      max-width: 200px;
    }
    @media screen and (max-width: 500px) {
      .felizhoje{
         width: 100%;
         margin-left: auto;
         margin-right: auto;
         justify-content: center;
         background-position: bottom 0;
       }
       .centralizar-feliz-hoje{
         width: 50%;
         height: auto;
         margin-left: auto;
         margin-right: auto;
         justify-content: center;
       }
   
       #imgfeliz-hoje{
         max-width: 200px;
         padding: 10%;
       } 
    }
    @media screen and (width > 500px) and (width < 1000px){
      .centralizar-feliz-hoje{
         width: 75%;
         height: auto;
         margin-left: auto;
         margin-right: auto;
         justify-content: center;
       }
    }
    @media screen and (width > 1000px){
      .centralizar-feliz-hoje{
         width: 40%;
         height: auto;
         margin-left: auto;
         margin-right: auto;
         justify-content: center;
       }    
    }

    #felizhoje{
      background-position: center bottom;
      width: 100%;
    }
     
    #rodape{
        background-image: none;
        background-color: #6da276;
        height: max-content;
    }
    #close-overlay{
      background-color: white;
      width: 0%;
      height: 100%;
 }
 #developer{
  text-align: center;
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
 }
 #developer1{
  text-decoration: none;
  color: black;
 }
 #developer1:hover{
  color: white;
 }
 #developer0{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
 }
 @media screen and (width < 1000px){
  #developer0{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }
  #logo-cacau{
    max-width: 250px;
  }
  .localizaLogoCacau{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }
 }